* {
    
    border: hotpink solid 1px;

}

* a {
    text-decoration: none;
}

body {
    background-image: url(https://images.unsplash.com/photo-1653163061406-730a0df077eb);
    background-size:auto;
    background-repeat: no-repeat;
    background-color: darkgrey;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.75);
    position:fixed;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}

/* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */